.todos-wrapper {
  &__mapping {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: 1fr;
    padding: 10px;
  }
}
.each-item {
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid #6e6c6c;
  border-radius: 10px;
  background-color: #edaa17;
  color: #070233;
  &__checkbox-div {
    align-self: flex-end;
  }
  &__button-div {
    display: flex;
    align-items: flex-end;
    width: 100%;
    height: 100%;
    margin-top: 10px;
    color: blue;
    form {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
    button {
      background-color: brown;
      border: none;
      outline: none;
      border-radius: 5px;
      width: 80px;
      cursor: pointer;
    }
  }
  input {
    -webkit-appearance: none;
    padding: 12px;
    border: 2px solid #6e6c6c;
    border-radius: 50%;
    cursor: pointer;
  }
  input:focus {
    outline: none;
  }
  input:checked {
    background-color: #6e6c6c;
  }
}
